<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.5, user-scalable=1, shrink-to-fit=no" name="viewport">
    <meta name="description" content="Sitio personal de Yair Miranda, es un pequeño portafolio con los proyectos realizados y algo de información util.">
    <meta name="author" content="Luis Miranda">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <title>Yair Miranda</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  </head>
  <body>
    <noscript>
      <strong>Lo sentimos, esta pagina requiere activar el uso de JavaScript.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
